:root{
--text: #080a05;
--background: #f6f9f2;
--primary: #95af62;
--secondary: #9accab;
--accent: #7fbeae;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}
h1, h3{
    text-align: center;
}

.recipe-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.recipe{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    text-align: center;
    
}

.recipe img{
    width: 200px;
    height: 200px;

    padding: 5px;
}

.recipe a{
    color: var(--text);
    text-decoration: none;
    padding: 10px 20px;
}

.recipe a:hover{
    background-color: var(--accent);
}