:root{
--text: #0b0b0b;
--background: #fcfbfb;
--primary: #ef8b97;
--secondary: #e198a0;
--accent: #e6606f;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}
h1, h2, h3{
    text-align: center;
}

.recipe-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.recipe{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    text-align: center;
    
}

.recipe img{
    width: 200px;
    height: 200px;

    padding: 5px;
}

.recipe a{
    color: var(--text);
    text-decoration: none;
    padding: 10px 20px;
}

.recipe a:hover{
    background-color: var(--accent);
}